html,body{
    overflow-x: hidden;
    height: 97%;
    background-image: url("images/bg.png");
}
#lisere{
    float:left;
    width: 10%;
    height:100%;
    background-image: url("images/liseret.png");
    border-radius: 10px;
}
#cv{
    margin-left: 11%;
    height:100%;
}
#debut{
    text-align: center;
}
#image{
    float:right;
    margin-right:30px;
}
.texte{
    margin-top: 60px;
    margin-left: 132px;
    padding:5px;
    width: 17%;
    min-height:250px;
    float:left;
}
.solo{
    margin-left: 250px;
    padding:5px;
    width: 17%;
    min-height:350px;
    float:left;
}

.container-form{
    margin-top:15%;
    margin-left:43%;
    display:inline-block;
    text-align:center;
}

.form-element{
    margin-left:36%;
    display:inline-block;
    text-align:center;
}

.submit{
    margin-top: 1%;
    display:inline-block;
    text-align:center;
}